spring:
  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: hotstar-consumer-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest

      properties:
        spring.json.trusted.packages: "*"
  application:
    name: Hotstar-Consumer